
<h2>List Asynch</h2>
<input [(ngModel)]="saisie" type="text">
<table>
    <thead>
        <tr>
            <th>Image</th>
            <th>Titre</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let book of books | filter: saisie">
            <td> 
                <img src="{{ book.image }}" alt="" class="img-list">
            </td>
            <td (click)="showDetail(book)"> 
                {{ book.titre }}
            </td>
            
        </tr>
    </tbody>
</table>

<app-book-detail [livre]="selectedBook"></app-book-detail>